<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/deco.css">
    <link rel="stylesheet" href="../static/profile.css">
</head>

<body>
    <header id="header">
        <nav id="nav">
            <div class="top">               
                <a class="active" onclick="location.href='index.html'"" style="cursor: pointer;"> 
                    MurangE
                </a>
                <a onclick="location.href='profile.html'"style="display:inline-flex;" ><div class="icon"></div>profile</a>
            </div>
        </nav>
    </header>       
    <div class="playlistheader" style="display: inline-flex; margin-top:100px; margin-left:50px;">
    <div class="playlist" onclick="location.href='playlist.html'" id="celebrity" >2</div>
    <h1 style="text-align:end; align-items: baseline;">플레이리스트 이름</h1></div><hr>
    <div class="musicinform" id="track1" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track2" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track3" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track4" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track5" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track6" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track7" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track8" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track9" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track10" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track11" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track12" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track13" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track14" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track15" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track16" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track17" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track18" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track19" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="musicinform" id="track20" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div><hr>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</body>
</html>