<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script defer src="../static/calendar.js"></script>

    <script defer src="../static/main.js"></script>
    <link rel="stylesheet" href="../static/deco.css">
    <link rel="stylesheet" href="../static/profile.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    
</head>

<body>
    <header id="header">
        <nav id="nav">
            <div class="top">               
                <a class="active" onclick="location.href='index.html'"" style="cursor: pointer;"> 
                    MurangE</a>
                <a onclick="location.href='profile.html'"style="display:inline-flex;" ><div class="icon"></div>profile</a>
            </div>
        </nav>
    </header>       
    <div id="sidebar"> 
        <div class="musiclist" id="music1" ><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music2" ><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music3"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music4"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music5"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music6"><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music7"><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music8"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music9"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music10"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist" id="music11"><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music12"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music13"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music14"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music15"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music16"><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music17"><div class="cover"></div>노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music18"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music19"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musiclist"id="music20"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="musicnow">
        <div class="nowpart"><div class="cover"></div> 노래명 <br> 가수명 <div class="like"></div></div>
        <div class="player"><div>이전</div><div id="play"></div><div>다음</div></div>
        </div>
    </div>
    <div id="userdata"><div id="calender"><div class="calendar-wrap">
        <h2 class="month-year">January 2020</h2>
      
        <table class="calendar">
          <thead>
            <tr>
              <th class="day-title" scope="col">Sun</th>
              <th class="day-title" scope="col">Mon</th>
              <th class="day-title" scope="col">Tue</th>
              <th class="day-title" scope="col">Wed</th>
              <th class="day-title" scope="col">Thu</th>
              <th class="day-title" scope="col">Fri</th>
              <th class="day-title" scope="col">Sat</th>
            </tr>
          </thead>
          <tbody>
            <tr class="week">
              
              <td class="day prev-mon" tabindex="0"><span class="day-number">29</span></td>
              <td class="day prev-mon" tabindex="0"><span class="day-number">30</span></td>
              <td class="day prev-mon" tabindex="0"><span class="day-number">31</span></td>
              <td class="day" tabindex="0"><span class="day-number">1</span></td>
              <td class="day today" tabindex="0"><span class="day-number">2</span></td>
              <td class="day" tabindex="0"><span class="day-number">3</span></td>
              <td class="day" tabindex="0"><span class="day-number">4</span></td>
            </tr>
            <tr class="week">
              <td class="day" tabindex="0"><span class="day-number">5</span></td>
              <td class="day" tabindex="0"><span class="day-number">6</span></td>
              <td class="day" tabindex="0"><span class="day-number">7</span></td>
              <td class="day" tabindex="0"><span class="day-number">8</span></td>
              <td class="day" tabindex="0"><span class="day-number">9</span></td>
              <td class="day" tabindex="0"><span class="day-number">10</span></td>
              <td class="day" tabindex="0"><span class="day-number">11</span></td>
            </tr>
            <tr class="week">
              <td class="day" tabindex="0"><span class="day-number">12</span></td>
              <td class="day" tabindex="0"><span class="day-number">13</span></td>
              <td class="day" tabindex="0"><span class="day-number">14</span></td>
              <td class="day" tabindex="0"><span class="day-number">15</span></td>
              <td class="day" tabindex="0"><span class="day-number">16</span></td>
              <td class="day" tabindex="0"><span class="day-number">17</span></td>
              <td class="day" tabindex="0"><span class="day-number">18</span></td>
            </tr>
            <tr class="week">
              <td class="day" tabindex="0"><span class="day-number">19</span></td>
              <td class="day" tabindex="0"><span class="day-number">20</span></td>
              <td class="day" tabindex="0"><span class="day-number">21</span></td>
              <td class="day" tabindex="0"><span class="day-number">22</span></td>
              <td class="day" tabindex="0"><span class="day-number">23</span></td>
              <td class="day" tabindex="0"><span class="day-number">24</span></td>
              <td class="day" tabindex="0"><span class="day-number">25</span></td>
            </tr>
            <tr class="week">
              <td class="day" tabindex="0"><span class="day-number">26</span></td>
              <td class="day" tabindex="0"><span class="day-number">27</span></td>
              <td class="day" tabindex="0"><span class="day-number">28</span></td>
              <td class="day" tabindex="0"><span class="day-number">29</span></td>
              <td class="day" tabindex="0"><span class="day-number">30</span></td>
              <td class="day" tabindex="0"><span class="day-number">31</span></td>
              <td class="day next-mon" tabindex="0"><span class="day-number">1</span></td>
            </tr>
          </tbody>
        </table>
      </div></div><div class="record"> 감정 기록 </div><div class="user"></div></div>
    <div class="category"><h1>내가 좋아요한 플레이리스트</h1></div>
            <hr class="line"> 
            <div class="playlist" id="playlistscroll"><</div>
            <div class="playlist" onclick="location.href='playlist.html'" id="celebrity" >2</div>
            <div class="playlist" onclick="location.href='playlist.html'" id="chatshire">3</div>
            <div class="playlist" onclick="location.href='playlist.html'" id="lilac">4</div>
            <div class="playlist" onclick="location.href='playlist.html'" >5</div>
            <div class="playlist" onclick="location.href='playlist.html'" >6</div>
            <div class="playlist"id="playlistscroll">></div>
            <br>

        <div class="category"><h1>내가 좋아요한 음악</h1></div>
            <hr class="line"> 
            <div class="playlist" id="playlistscroll"><</div>
            <div class="playlist" onclick="location.href='playlist.html'" id="celebrity" >2</div>
            <div class="playlist" onclick="location.href='playlist.html'" id="chatshire">3</div>
            <div class="playlist" onclick="location.href='playlist.html'" id="lilac">4</div>
            <div class="playlist" onclick="location.href='playlist.html'" >5</div>
            <div class="playlist" onclick="location.href='playlist.html'" >6</div>
            <div class="playlist"id="playlistscroll">></div>
            <br>

        <div class="category"><h1>내가 팔로우하는 사용자</h1></div>
            <hr class="line">
            <div class="playlist" id="playlistscroll"><</div>
            <div style="display:inline-flex;"><div class="user" onclick="location.href='profile.html'">2</div><div class="username" style="display: block;">name</div>
            <div class="user" onclick="location.href='profile.html'">2</div><div class="username">name</div>
            <div class="user" onclick="location.href='profile.html'">2</div><div class="username">name</div>
            <div class="user" onclick="location.href='profile.html'">2</div><div class="username">name</div>
            <div class="user" onclick="location.href='profile.html'">2</div><div class="username">name</div></div>
            <div class="playlist"id="playlistscroll">></div>
</body>
</html>
